.App {
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bouton-image:before {
  content: "";
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: text-top;
  background-color: transparent;
  background-position : center center;
  background-repeat:no-repeat;
  /*background-image : url(img/trash_empty.png);*/
   background-size: contain;
}

.navbar{
  margin-bottom: 20px;
}

.loader {
   background-image: url(img/dl.gif);
  background-repeat:no-repeat;
  background-size: contain;
}
.loader-size {
  min-height: 80px;
  min-width: 80px;
}

.text-color-error-header{
  color: rgb(255, 0, 0);
  font-weight: 600;
}
.text-color-error{
  color: rgb(180, 2, 11);
}

.text-color-corect-header{
  color: rgb(4, 219, 4);
  font-weight: 600;
}
.text-color-corect{
  color: rgb(54, 149, 78);
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
